/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-family: 'IBM', sans-serif;
	line-height: 1.6;
	background-color: #f4f4f4;
	color: #333333;
	padding: 20px;
}

code {
	
}

h1, h2, h3 {

}

h1 {

}

h2 {

}

h3 {
	
}

header {
	
}

main {

}

p {

}

#intro {

}

#how-does-it-work, #influence, #joke {

}
@font-face {
	font-family: 'IBM';
	src: url('fonts/IBMR.ttf') format('truetype'), url('fonts/IBMB.ttf') format('truetype'), url('fonts/IBMM.ttf') format('truetype');
}