/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-family: 'IBM', sans-serif;
	line-height: 1.6;
	background-color: #130a0a;
	color: #ecdfdf;
	padding: 20px;
}

code {
	color: #f70000;
	font-size: 1.3em;
	font-weight: bold;
	font-style: oblique;
}

h1, h2, h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	max-width: 800px;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-weight: normal;
	font-size: 1.9em;
	margin-bottom: 10px;
	border-bottom: 1px solid #333333;
}

h3 {
	font-weight: bold;
	font-size: 1.2em;
	font-style: italic;
}

header {
	text-shadow: #dd45c4 3px 2px 3px;
	margin-top: -50px;
	padding-left: 820px;
}

main {
	margin-top: 40px;
}

p {
	margin-bottom: 1em;
	max-width: 900px;
	line-height: 1.9em;
	text-indent: 2em;
}
p:first-letter {
	font-weight: bold;
	font-size: 1.2em;
	letter-spacing: 0.08em;
}

a {
	text-decoration: none;
}

a:link {
	color: #fa7a6e;}

a:before {
	content: "➢ ";
	color: #fa5dfa;
}

a:visited {
	color: #25eb56;
}

a:hover {
	color: #75d0e0;
	background-color: #333333;
}

#intro {
	width: 23%;
	float: left;
	margin-right: 2em;
	padding-left: 1em;
	padding-right: 1em;
}
#intro h2 {
	text-align: center;
}

#how-does-it-work, #influence, #joke {
	width: 21%;
	float: left;
	margin-right: 1.2em;
	padding-left: 1em;
	padding-right: 1em;
}
#how-does-it-work h2 {
	text-align: center;
}
#influence h2 {
	text-align: center;
}
#joke h2 {
	text-align: center;
}
@font-face {
	font-family: 'IBM';
	src: url('fonts/IBMR.ttf') format('truetype'), url('fonts/IBMB.ttf') format('truetype'), url('fonts/IBMM.ttf') format('truetype');
}